
<div class="container col-xxl-8 px-4 py-5">
    <div class="row row-cols-1 row-cols-lg-2 py-5">
        <div class="col order-last order-lg-first">
            <h1 class="display-5 fw-bold lh-1 mb-3">Loan Calculator: A Coding Project</h1>
            <h4 class="lead">This application will be able to calculate the total cost and interest of a loan given the principal amount and the terms, in numbers of months, of the payment. This was an introductory program into using C# and the Model-View-Controller design pattern.</h4>
            <ul class="fa-ul pt-2 checklist">
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>HTML, CSS and Bootstrap Layout</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Fundamentals</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Loops</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Functions</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# MVC</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# If/Then/Else</li>
                <li><span class="fa-li"><i class="fas fa-check-square"></i></span>C# Boolean Logic</li>
            </ul>
            <div>
                <a type="button" class="btn btn-blue btn-lg px-4 me-md-2" asp-controller="Home" asp-action="App">Try It Out</a>
            </div>
            <div class="row row-cols-2 row-cols-lg-4 mt-3">
                <div class="col"><i class="fas fa-code fa-5x cicon"></i></div>
                <div class="col"><i class="fab fa-bootstrap fa-5x bsicon"></i></div>
                <div class="col"><i class="fab fa-html5 fa-5x html5icon"></i></div>
                <div class="col"><i class="fab fa-css3-alt fa-5x css3icon"></i></div>
            </div>
        </div>
        <div class="col">
            <img src="~/img/loancalc.png" class="img-fluid center-block  d-block mx-auto" alt="App Logo" width="700"
                 height="500">
        </div>
    </div>
</div>
